.error{
    text-align: center;
    height: 30rem;
}


.icon{
    /* margin-left:50% */
    width: 150px;
    max-width: 95%;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
}

.fine{
   
}